%span.avatar.anonymous
  %i.fa.fa-user
  %strong= comment.commenter
  = comment.created_at
%p
  = comment.body
%p
  - if can? :destroy, comment
    = link_to 'Destroy Comment', [comment.article, comment], |
      method: :delete,                                       |
      data: { confirm: 'Are you sure?' }                     |
